APP_ENV=production
HTTP_ADDR=:8080
CONFIG_FILE=data/config.json

MEETING_PASSWORD=
ADMIN_PASSWORD=

STUN_SERVERS=
TURN_URL=
TURN_USERNAME=
TURN_PASSWORD=

MAX_PARTICIPANTS=5
DEFAULT_VIDEO_QUALITY=low
DEFAULT_VIDEO_FPS=15
MAX_VIDEO_FPS=30
DEFAULT_AUDIO_BITRATE=32000
MAX_VIDEO_BITRATE=500000
MAX_AUDIO_BITRATE=64000
ENABLE_SCREEN_SHARE=true
LOG_LEVEL=info
